<!-- property big image section -->
<section class="property">
  <div class="big_img">
    <img src="https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/HX5KGXNSAz29GcHb" alt="3515 Ashbourne Cir photo">
    <button class="scroll btn--secondary-dark fas fa-chevron-down"></button>
  </div>
</section>

<section id="" class="property_details">
  <div class="container">
    <div class="row">

      <div class="col photo_wrapper"> 
        <img
        src="https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb"
        srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb 960w, https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/HX5KGXNSAz29GcHb 1920w"
        class="property_photo"/>
      </div>

      <div class="col">
        <div class="text_block">
          <div class="agents_wrap">
            <div class="agent">
              <div class="agent_avatar">
              </div>
              <span class="agent_name">
                Ivan Santacruz
              </span>
            </div>
          </div>

          <div class="title">
            <h2>3515 Ashbourne Cir</h2>
            <div class="info">
              $1,998,000 &nbsp;|&nbsp; 3515 Ashbourne Circle, San Ramon, CA 94583
            </div>
          </div>

          <div class="description">
            <p>Sold prior to MLS - for complementary purposes.</p>
          </div>

          <div class="request_info">
            <a role="button"
              data-type="CONTACT_US"
              class="btn btn--primary-dark">
                Request Info
            </a>
          </div>

          <div class="share">
            <span>Share:</span>
            <ul class="socials">
              <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://ivanestates.com/properties/3515-ashbourne-circle-san-ramon-ca-94583-us&quote=" class="socials_link" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?url=https://ivanestates.com/properties/3515-ashbourne-circle-san-ramon-ca-94583-us" class="socials_link" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="mailto:?subject=3515 Ashbourne Cir&body=3515 Ashbourne Cir - https://ivanestates.com/properties/3515-ashbourne-circle-san-ramon-ca-94583-us" class="socials_link">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div> <!-- /.text_block -->
      </div> <!-- /.col -->
    </div> <!-- /.row-->

    <ul class="features_list">
      <li class="feature">
        <div class="feature_value serif">
          Sold
        </div>
        <div class="feature_title">
          Status
        </div>
      </li>
      <li class="feature">
        <div class="feature_value serif">
          5
        </div>
        <div class="feature_title">
          Bedrooms
        </div>
      </li>
      <li class="feature">
        <div class="feature_value serif">
          5
        </div>
        <div class="feature_title">
          Bathrooms
        </div>
      </li>
      <li class="feature">
        <div class="feature_value serif">
          2004
        </div>
        <div class="feature_title">
          Year Built
        </div>
      </li>
      <li class="feature">
        <div class="feature_value serif">
          4,524 Sq.Ft.
        </div>
        <div class="feature_title">
          Living Area
        </div>
      </li>
    </ul>
  </div> <!--/.container-->
</section> <!-- /property_details-->

<section id="section__features_amenities">
  <div class="features_amenities">
      <div class="container">
        <h2>Features & Amenities</h2>
        <div class="features_amenities__grid">
                    
          <div class="features_amenities__item">
            <h3 class="features_amenities__title">Area & Lot</h3>
            <ul class="features_amenities__list">             
              <li><strong>Status:</strong> Sold</li>        
              <li><strong>Living Space:</strong> 4,524 Sq.Ft.</li>           
              <li><strong>Lot Size:</strong> 0.33 Sq.Ft.</li>           
              <li><strong>Type:</strong> RESIDENTIAL</li>           
              <li><strong>Year Built:</strong> 2004</li>                        
            </ul>
          </div>
            
          <div class="features_amenities__item">
            <h3 class="features_amenities__title">Interior</h3>
            <ul class="features_amenities__list">
                <li><strong>Total Bedrooms:</strong> 5</li>             
                <li><strong>Total Bathrooms:</strong> 5</li>                
                <li><strong>Full Bathrooms:</strong> 5</li>      
            </ul>
          </div>
            
          <div class="features_amenities__item">
            <h3 class="features_amenities__title">Exterior & Building</h3>
            <ul class="features_amenities__list">      
                <li><strong>Garage Space:</strong> 3</li>
            </ul>
          </div>
                            
          <div class="features_amenities__item">
            <h3 class="features_amenities__title">Financial</h3>
            <ul class="features_amenities__list">     
              <li><strong>Sales Price:</strong> $1,998,000</li>                 
            </ul>
          </div>
        </div> <!-- /.features_amenities__grid-->
      </div> <!-- /.container-->
  </div> <!-- /.features_amenities-->
</section> <!-- /#section__features_amenities-->
<!-- map section -->
<section id="ashbourne-circle-san-ramon-ca">
  <div class="property-map js-property-map">
    <div class="container">
      <h2>3515 Ashbourne Cir</h2>
    </div>
    <!-- google maps -->
    <div class="property-map__wrap">
      <div class="property-map__canvas map-container"
        data-lat="37.7516245" 
        data-lng="-121.9897427">
      </div>
    </div>
  </div>
</section>

<section class="image_section">
  <div class="work_with_us">
    <div class="work_with_us__content">
      <h2>Work With Ivan</h2>
      <p class="text_content">What Ivan most likes about selling real estate is helping others achieve homeownership, as he has a passion for helping others.
        
      </p>
      <a
        role="button"
        data-type="CONTACT_US"
        class="btn btn--secondary-dark"
      >
        Let&#x27;s Connect
      </a>
    </div>
  </div> <!-- /.work_with_us -->
</section>