<!-- intro video -->
<section id="homepage_intro" class="">
  <div class="video_wrapper">
    <div class="video_component">
      <div class="video hidable">
        <video loop="" muted="" autoplay="" poster="https://res.cloudinary.com/luxuryp/videos/f_auto,q_auto,so_0,eo_0/pxacwpzk2mlf7x7jq9qp/gmum054m1eu4g8i0h47l9trqq.jpg" playsinline>
              <source src="https://res.cloudinary.com/luxuryp/videos/f_auto,q_auto/pxacwpzk2mlf7x7jq9qp/gmum054m1eu4g8i0h47l9trqq.webm" type="video/webm">
              <source src="https://res.cloudinary.com/luxuryp/videos/f_auto,q_auto/pxacwpzk2mlf7x7jq9qp/gmum054m1eu4g8i0h47l9trqq.mp4" type="video/mp4">
        </video>
      </div>
      <div class="poster" style="background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/bc3n5fdqhzll3iecwmxk/rtvyyzfovhj9epmj')"></div>
    </div>
  </div>

  <div class="overlay_component" ></div>

  <div class="homepage_opening">
    <div class="homepage_opening__main">
      <div class="container homepage_opening__container">
        <p class="homepage_opening__greeting pre-title"><span>Your East Bay Realtor</span></p>
        <h1 class="homepage_opening__heading pre-line">Ivan Santacruz</h1>
        <p class="homepage_opening__lead">CA DRE# 02055245</p>
        <a
          role="button"
          data-type="CONTACT_US"
          class="btn btn--secondary-dark contact_us__btn"
          >
            Let&#x27;s Connect
        </a>
      </div>
    </div> 
  </div>
</section>

<section id="about">
  <div class="compass vertical_paddings">
    <div class="container">
      <div class="compass_content__row straight">
        <div class="compass_content__col">
          <div class="compass_content__col__img">
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/vhicjgpohrsvav1uxm6p/screen-shot-2020-01-14-at-14044-pm" alt="main image">
          </div>
        </div>

        <div class="compass_content__col text">
          <div class="compass_content__text_wrap">
            <h2 class="about_h2">About Ivan Santacruz</h2>
            <div class="about_text">
              <p>Ambitious. Innovative. Experienced. These are just three words clients frequently use to describe Ivan Santacruz. A Bay Area native, Ivan has extensive firsthand knowledge of the region, making him the perfect asset and advocate for those looking to move there.&nbsp;</p>
              <p>Specializing in the Tri-Valley East Bay, Ivan has been making his mark on this sought-after area. His vast experience in the sales field&mdash;not to mention his go-getter attitude and perseverance&mdash;sets him apart, helping his clients reach their real estate goals in this competitive market.</p>
            </div>
            <div class="buttons-wrapper">
              <a
                href=""
                role="button"
                data-type="CONTACT_US"
                class="btn btn--primary-dark"            
                >
                Learn more
              </a>
            </div>
          </div>  
        </div>
      </div> <!-- /.row-->
    </div> <!-- /.container-->
  </div> <!-- /.compass-->
</section>

<!--  slider testimonial 1  -->
<section id="slider_testimonials">
<div class="testimonials">
  <div class="container basic_paddings">
    <div class="testimonials__container">
      <div class="testimonials__header">
        Testimonials
      </div>
     
      <div class="testimonials__slider" data-autoplay=true>
        <div class="testimonials__item">
          <blockquote class="testimonials__item-content">Our experience with Ivan Santacruz was nothing short of excellent from start to finish. His knowledge of real estate and the homes in our area/neighborhood, as well ...</blockquote>
          <div class="testimonials__item-author">
            Jocelyn
          </div>
        </div>

        <div class="testimonials__item">
          <blockquote class="testimonials__item-content">Ivan was fantastic to work with! He was able to sell our home the first weekend with 11 offers and sold our house for 10% more than what we listed it for.</blockquote>
          <div class="testimonials__item-author">
            Monina
          </div>
        </div>

        <div class="testimonials__item">
          <blockquote class="testimonials__item-content">Ivan was a great resource in helping us sell our house. He was very communicative and spent considerable time helping guide us with many key decisions.</blockquote>
          <div class="testimonials__item-author">
            Faraz
          </div>
        </div>

        <div class="testimonials__item">
          <blockquote class="testimonials__item-content">Ivan helped us with an investment property recently. He was very responsive and always on top of all the details. He is definitely an expert you can trust.</blockquote>
          <div class="testimonials__item-author">
            June L.
          </div>
        </div>

        <div class="testimonials__item">
          <blockquote class="testimonials__item-content">Ivan helped us through the whole moving process! He connected us with great contractors and even hooked us up with a great realtor.</blockquote>
          <div class="testimonials__item-author">
            Jeannie F.
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonials__slider-arrows">
      <button class="slick-arrow testimonials__prev">&#10229;</button>
      <div class="dots-slider">
          <span class="dots-slider__item">01</span>
          <span class="dots-slider__item">02</span>
          <span class="dots-slider__item">03</span>
          <span class="dots-slider__item">04</span>
          <span class="dots-slider__item">05</span>
      </div>      
      <button class="slick-arrow testimonials__next">&#10230;</button>    
    </div>
  </div>
</div>
</section>

<!--  slider testimonial 2  -->
<section id="slider_testimonials2">
<div class="testimonials">
  <div class="container basic_paddings">
    <div class="testimonials__container">
      <div class="testimonials__header">
        Testimonials
      </div>
     
      <div class="testimonials__slider" data-autoplay=true>
        <div class="testimonials__item">
          <div>
            <img src="img/testimonial/testimonial-img-1.jpg">
            <blockquote class="testimonials__item-content">Our experience with Ivan Santacruz was nothing short of excellent from start to finish. His knowledge of real estate and the homes in our area/neighborhood, as well ...</blockquote>
          </div>
          <div class="testimonials__item-author">
            Jocelyn
          </div>
        </div>

        <div class="testimonials__item">
          <div>
            <img src="img/testimonial/testimonial-img-2.jpg">
            <blockquote class="testimonials__item-content">Ivan was fantastic to work with! He was able to sell our home the first weekend with 11 offers and sold our house for 10% more than what we listed it for.</blockquote>
          </div>
          <div class="testimonials__item-author">
            Monina
          </div>
        </div>

        <div class="testimonials__item">
          <div>
            <img src="img/testimonial/testimonial-img-3.jpg">
            <blockquote class="testimonials__item-content">Ivan was a great resource in helping us sell our house. He was very communicative and spent considerable time helping guide us with many key decisions.</blockquote>
          </div>
          <div class="testimonials__item-author">
            Faraz
          </div>
        </div>

        <div class="testimonials__item">
          <div>
            <img src="img/testimonial/testimonial-img-4.jpg">
            <blockquote class="testimonials__item-content">Ivan helped us with an investment property recently. He was very responsive and always on top of all the details. He is definitely an expert you can trust.</blockquote>
          </div>
          <div class="testimonials__item-author">
            June L.
          </div>
        </div>

        <div class="testimonials__item">
          <div>
            <img src="img/testimonial/testimonial-img-5.jpg">
            <blockquote class="testimonials__item-content">Ivan helped us through the whole moving process! He connected us with great contractors and even hooked us up with a great realtor.</blockquote>
          </div>
          <div class="testimonials__item-author">
            Jeannie F.
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonials__slider-arrows">
      <button class="slick-arrow testimonials__prev">&#10229;</button>
      <div class="dots-slider">
          <span class="dots-slider__item">01</span>
          <span class="dots-slider__item">02</span>
          <span class="dots-slider__item">03</span>
          <span class="dots-slider__item">04</span>
          <span class="dots-slider__item">05</span>
      </div>      
      <button class="slick-arrow testimonials__next">&#10230;</button>    
    </div>
  </div>
</div>
</section>

<!------------------------------ video content ---------------------------->
<section id="video_testimonial1" class="spiral_bg video_testimonial">
  <div class="f-video">
    <div class="container basic_paddings">
      <div class="f-video__content">
        <h2 class="f-video__title">COVID-19 Client Testimonial</h2>
        <p>
          <div>
            <p>3 days 5 offers, $21,000 over asking. Saved my clients $10,000 mandatory repairs in the heart of COVID-19!</p>
            <p><br></p>
          </div>
        </p>
        
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/IvanSantacruzHomes/?modal&#x3D;admin_todo_tour" class="socials_link wow fadeInUp" data-wow-delay=".0s" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ivannsantacruz/" class="socials_link wow fadeInUp" data-wow-delay=".1s" target="_blank">
              <svg width="14.5" height="14.5" viewBox="0 0 9 9">
                <path d="M7.43.911a.658.658 0 100 1.316.658.658 0 000-1.316M4.5 6.33a1.83 1.83 0 110-3.659 1.83 1.83 0 010 3.659m0-4.648a2.818 2.818 0 10-.001 5.637A2.818 2.818 0 004.5 1.682m4.468 5.037c-.024.534-.114.826-.189 1.018-.1.256-.218.439-.41.63a1.697 1.697 0 01-.632.412c-.192.075-.484.165-1.018.19C6.139 8.995 5.966 9 4.5 9c-1.465 0-1.64-.005-2.218-.031-.534-.025-.826-.115-1.019-.19-.256-.1-.439-.218-.63-.411a1.703 1.703 0 01-.412-.631C.146 7.545.057 7.253.032 6.719.006 6.139 0 5.966 0 4.5c0-1.465.006-1.639.032-2.218.025-.535.114-.826.189-1.019.1-.256.22-.439.411-.63C.824.44 1.007.32 1.263.22c.193-.075.485-.164 1.019-.189C2.862.006 3.035 0 4.5 0c1.466 0 1.639.006 2.219.032.534.025.826.114 1.018.189.256.1.439.22.632.411.192.192.31.375.41.631.075.193.165.484.189 1.019.027.58.032.753.032 2.218 0 1.466-.005 1.64-.032 2.219"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ivan-santacruz-386a73166/" class="socials_link wow fadeInUp" data-wow-delay=".2s" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UClWhT6DYCMXTGQNtpqKIILA?view_as&#x3D;subscriber" class="socials_link wow fadeInUp" data-wow-delay=".3s" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.compass.com/agents/ivan-santacruz/" class="socials_link wow fadeInUp" data-wow-delay=".4s" target="_blank">
              <svg width="20" height="20" viewBox="0 0 60.14 60"><path d="M29.86 0a30 30 0 00.28 60 30.03 30.03 0 0030-30A30 30 0 0029.86 0zm.28 8a22.03 22.03 0 0122 22 22 22 0 11-22-22zm7.18 9.17l-20 20 5.65 5.66 20-20z" /></svg>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="f-video__poster">
        <div class="f-video__poster-bgr">
          <button class="btn-play" data-type="VIDEO" data-src="https://www.youtube.com/embed/qtXEhGsRzKQ?autoplay&#x3D;1">
            <span class="visually-hidden">Play video</span>
            <i class="fas fa-play" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="video_testimonial2" class="spiral_bg video_testimonial">
  <div class="f-video">
    <div class="container basic_paddings reverse">
      <div class="f-video__content">
        <h2 class="f-video__title">From 0 Offers In 3 Months To 11 Offers In 3 Days</h2>
        <p>
          <div>
            <p>This listing sat on the market for over seventy days with zero offers with another agent. I was able to sell the property with 11 offers $80,000 over asking price within the first weekend.</p>
          </div>
        </p>
        
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/IvanSantacruzHomes/?modal&#x3D;admin_todo_tour" class="socials_link wow fadeInUp" data-wow-delay=".0s" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ivannsantacruz/" class="socials_link wow fadeInUp" data-wow-delay=".1s" target="_blank">
              <svg width="14.5" height="14.5" viewBox="0 0 9 9">
                <path d="M7.43.911a.658.658 0 100 1.316.658.658 0 000-1.316M4.5 6.33a1.83 1.83 0 110-3.659 1.83 1.83 0 010 3.659m0-4.648a2.818 2.818 0 10-.001 5.637A2.818 2.818 0 004.5 1.682m4.468 5.037c-.024.534-.114.826-.189 1.018-.1.256-.218.439-.41.63a1.697 1.697 0 01-.632.412c-.192.075-.484.165-1.018.19C6.139 8.995 5.966 9 4.5 9c-1.465 0-1.64-.005-2.218-.031-.534-.025-.826-.115-1.019-.19-.256-.1-.439-.218-.63-.411a1.703 1.703 0 01-.412-.631C.146 7.545.057 7.253.032 6.719.006 6.139 0 5.966 0 4.5c0-1.465.006-1.639.032-2.218.025-.535.114-.826.189-1.019.1-.256.22-.439.411-.63C.824.44 1.007.32 1.263.22c.193-.075.485-.164 1.019-.189C2.862.006 3.035 0 4.5 0c1.466 0 1.639.006 2.219.032.534.025.826.114 1.018.189.256.1.439.22.632.411.192.192.31.375.41.631.075.193.165.484.189 1.019.027.58.032.753.032 2.218 0 1.466-.005 1.64-.032 2.219"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ivan-santacruz-386a73166/" class="socials_link wow fadeInUp" data-wow-delay=".2s" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UClWhT6DYCMXTGQNtpqKIILA?view_as&#x3D;subscriber" class="socials_link wow fadeInUp" data-wow-delay=".3s" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.compass.com/agents/ivan-santacruz/" class="socials_link wow fadeInUp" data-wow-delay=".4s" target="_blank">
              <svg width="20" height="20" viewBox="0 0 60.14 60"><path d="M29.86 0a30 30 0 00.28 60 30.03 30.03 0 0030-30A30 30 0 0029.86 0zm.28 8a22.03 22.03 0 0122 22 22 22 0 11-22-22zm7.18 9.17l-20 20 5.65 5.66 20-20z" /></svg>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="f-video__poster">
        <div class="f-video__poster-bgr">
          <button class="btn-play" data-type="VIDEO" data-src="https://www.youtube.com/embed/6azNJclO1KI?autoplay&#x3D;1">
            <span class="visually-hidden">Play video</span>
            <i class="fas fa-play" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="video_testimonial3" class="spiral_bg video_testimonial">
  <div class="f-video">
    <div class="container basic_paddings">
      <div class="f-video__content">
        <h2 class="f-video__title">First Time Selling In The Bay Area Testimonial</h2>
        <p>
          <div>
            <p>Who you work with matters in a shifting market.</p>
          </div>
        </p>
        
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/IvanSantacruzHomes/?modal&#x3D;admin_todo_tour" class="socials_link wow fadeInUp" data-wow-delay=".0s" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ivannsantacruz/" class="socials_link wow fadeInUp" data-wow-delay=".1s" target="_blank">
              <svg width="14.5" height="14.5" viewBox="0 0 9 9">
                <path d="M7.43.911a.658.658 0 100 1.316.658.658 0 000-1.316M4.5 6.33a1.83 1.83 0 110-3.659 1.83 1.83 0 010 3.659m0-4.648a2.818 2.818 0 10-.001 5.637A2.818 2.818 0 004.5 1.682m4.468 5.037c-.024.534-.114.826-.189 1.018-.1.256-.218.439-.41.63a1.697 1.697 0 01-.632.412c-.192.075-.484.165-1.018.19C6.139 8.995 5.966 9 4.5 9c-1.465 0-1.64-.005-2.218-.031-.534-.025-.826-.115-1.019-.19-.256-.1-.439-.218-.63-.411a1.703 1.703 0 01-.412-.631C.146 7.545.057 7.253.032 6.719.006 6.139 0 5.966 0 4.5c0-1.465.006-1.639.032-2.218.025-.535.114-.826.189-1.019.1-.256.22-.439.411-.63C.824.44 1.007.32 1.263.22c.193-.075.485-.164 1.019-.189C2.862.006 3.035 0 4.5 0c1.466 0 1.639.006 2.219.032.534.025.826.114 1.018.189.256.1.439.22.632.411.192.192.31.375.41.631.075.193.165.484.189 1.019.027.58.032.753.032 2.218 0 1.466-.005 1.64-.032 2.219"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ivan-santacruz-386a73166/" class="socials_link wow fadeInUp" data-wow-delay=".2s" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UClWhT6DYCMXTGQNtpqKIILA?view_as&#x3D;subscriber" class="socials_link wow fadeInUp" data-wow-delay=".3s" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.compass.com/agents/ivan-santacruz/" class="socials_link wow fadeInUp" data-wow-delay=".4s" target="_blank">
              <svg width="20" height="20" viewBox="0 0 60.14 60"><path d="M29.86 0a30 30 0 00.28 60 30.03 30.03 0 0030-30A30 30 0 0029.86 0zm.28 8a22.03 22.03 0 0122 22 22 22 0 11-22-22zm7.18 9.17l-20 20 5.65 5.66 20-20z" /></svg>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="f-video__poster">
        <div class="f-video__poster-bgr">
          <button class="btn-play" data-type="VIDEO" data-src="https://www.youtube.com/embed/KqrCi28A8gQ?autoplay&#x3D;1">
            <span class="visually-hidden">Play video</span>
            <i class="fas fa-play" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------ work with us ---------------------- -->
<section class="image_section">
  <div class="work_with_us">
    <div class="work_with_us__content">
      <h2>Work With Ivan</h2>
      <p class="text_content">What Ivan most likes about selling real estate is helping others achieve homeownership, as he has a passion for helping others.
        
      </p>
      <a
        role="button"
        data-type="CONTACT_US"
        class="btn btn--secondary-dark contact_us__btn"
      >
        Let&#x27;s Connect
      </a>
    </div>
  </div>
</section>