<!----------------- Bannar start --------------->
<div id="bannar" class="sold custom_intro">
  <div>
    <div class="custom_intro_wrapper">
      <h1 class="custom_intro_title">Past Transactions</h1>
      <p class="custom_intro_subtitle">View some of our recently sold listings.</p>
      <a class="btn custom_intro_scrolldown btn--secondary-dark">
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!----------------- Bannar end ----------------->
<!-- -----------Properties --------------------->
<main>
  <section class="properties">
    <div class="container">
      <div class="properties_grid">
        <div class="properties_grid_item_wrap">
          <a href="ashbourne-circle-san-ramon-ca.html" class="properties_grid_item">
            <div class="properties_grid_img">
              <span class="status">Sold</span>
            
              <img
                src="https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb"
                srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb 960w, https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/HX5KGXNSAz29GcHb 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/HX5KGXNSAz29GcHb 1920w"
                alt="3515 Ashbourne Cir"/>
            </div>

            <div class="properties_grid_header">
              <h3>3515 Ashbourne Cir</h3>
              <div class="properties_grid_price">
                $1,998,000
              </div>
            </div>
            <p class="properties_grid_address">
                3515 Ashbourne Circle, San Ramon, CA 94583
            </p>
            <p class="properties_grid_details">
              5 Beds | 
              5 Baths | 
              4,524 Sq.Ft. 
            </p>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/8785-augusta-ct" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/cnlzv9xvbu0nnsrfy2x8/1"
                  srcset="https://res.cloudinary.com/luxuryp/images/w_960,c_limit,f_auto,q_auto/cnlzv9xvbu0nnsrfy2x8/1 960w, https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/cnlzv9xvbu0nnsrfy2x8/1 1280w, https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/cnlzv9xvbu0nnsrfy2x8/1 1920w"
                  alt="8785 Augusta Ct"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>8785 Augusta Ct</h3>
              <div class="properties_grid_price">
                $1,450,000
              </div>
            </div>
            <p class="properties_grid_address">
                8785 Augusta Court, Dublin, CA 94568
              </p>
            <div class="properties_grid_details">
              6 Beds | 
              4 Baths | 
              3,004 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/7024-elba-way" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/eagghs3shzvhbpp7pv1v/origin"
                  srcset="https://res.cloudinary.com/luxuryp/images/w_960,c_limit,f_auto,q_auto/eagghs3shzvhbpp7pv1v/origin 960w, https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/eagghs3shzvhbpp7pv1v/origin 1280w, https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/eagghs3shzvhbpp7pv1v/origin 1920w"
                  alt="7024 Elba Way"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>7024 Elba Way</h3>
              <div class="properties_grid_price">
                $1,085,000
              </div>
            </div>
            <p class="properties_grid_address">
                7024 Elba Way, Dublin, CA 94568
              </p>
            <div class="properties_grid_details">
              4 Beds | 
              2 Baths | 
              1,503 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/1158-south-chanterella-drive-san-ramon-ca-94582-us" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/WxOeI3LLf3q2hwta"
                  srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/WxOeI3LLf3q2hwta 960w, https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/WxOeI3LLf3q2hwta 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/WxOeI3LLf3q2hwta 1920w"
                  alt="1158 S Chanterella Dr"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>1158 S Chanterella Dr</h3>
              <div class="properties_grid_price">
                $1,025,000
              </div>
            </div>
            <p class="properties_grid_address">
                1158 South Chanterella Drive, San Ramon, CA 94582
              </p>
            <div class="properties_grid_details">
              3 Beds | 
              2 Baths | 
              1,675 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/6865-bear-creek-drive-livermore-ca-94551-usa" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/gq89hZ09RXECe6O0"
                  srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/gq89hZ09RXECe6O0 960w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/gq89hZ09RXECe6O0 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/gq89hZ09RXECe6O0 1920w"
                  alt="6865 Bear Creek Dr"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>6865 Bear Creek Dr</h3>
              <div class="properties_grid_price">
                $937,000
              </div>
            </div>
            <p class="properties_grid_address">
                6865 Bear Creek Drive, Livermore, CA 94551
              </p>
            <div class="properties_grid_details">
              5 Beds | 
              3 Baths | 
              2,140 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/7200-dover-court-dublin-ca-94568-usa" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/vJjjfDmiyJLIHh2o"
                  srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/vJjjfDmiyJLIHh2o 960w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/vJjjfDmiyJLIHh2o 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/vJjjfDmiyJLIHh2o 1920w"
                  alt="7200 Dover Ct"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>7200 Dover Ct</h3>
              <div class="properties_grid_price">
                $935,000
              </div>
            </div>
            <p class="properties_grid_address">
                7200 Dover Court, Dublin, CA 94568
              </p>
            <div class="properties_grid_details">
              3 Beds | 
              2.5 Baths | 
              1,591 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/6933-cedar-lane-dublin-ca-94568-usa" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/622s7Lf7TnSQZbkA"
                  srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/622s7Lf7TnSQZbkA 960w, https://res.cloudinary.com/luxuryp/image/upload/w_1280,c_limit,f_auto,q_auto/622s7Lf7TnSQZbkA 1280w, https://res.cloudinary.com/luxuryp/image/upload/w_1920,c_limit,f_auto,q_auto/622s7Lf7TnSQZbkA 1920w"
                  alt="6933 Cedar Ln"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>6933 Cedar Ln</h3>
              <div class="properties_grid_price">
                $910,000
              </div>
            </div>
            <p class="properties_grid_address">
                6933 Cedar Lane, Dublin, CA 94568
              </p>
            <div class="properties_grid_details">
              3 Beds | 
              2 Baths | 
              1,592 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
        <div class="properties_grid_item_wrap">
          <a href="/properties/7684-canterbury-lane-dublin-ca-94568-usa" class="properties_grid_item">
            <div class="properties_grid_img">
                <span class="status">Sold</span>
              
                <img
                  src="https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/DAinmo0kbtpUDBIc"
                  srcset="https://res.cloudinary.com/luxuryp/image/upload/w_960,c_limit,f_auto,q_auto/DAinmo0kbtpUDBIc 960w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/DAinmo0kbtpUDBIc 1280w, https://res.cloudinary.com/luxuryp/image/upload/f_auto,q_auto/DAinmo0kbtpUDBIc 1920w"
                  alt="7684 Canterbury Ln"/>
            </div>
            
            <div class="properties_grid_header">
              <h3>7684 Canterbury Ln</h3>
              <div class="properties_grid_price">
                $867,500
              </div>
            </div>
            <p class="properties_grid_address">
                7684 Canterbury Lane, Dublin, CA 94568
              </p>
            <div class="properties_grid_details">
              4 Beds | 
              2 Baths | 
              1,475 Sq.Ft. 
            </div>
            <div class="properties_grid_footer">
              <span class="link">More Details</span>
            </div>
          </a>
        </div>
      </div>

      <!-- pagination is not functional-->
      <div class="pagination-container pagination-style-1">
        <div class="paginationjs">
          <div class="paginationjs-pages">
            <ul>
              <li class="paginationjs-prev disabled">
                <a>«</a>
              </li>
              <li class="paginationjs-page J-paginationjs-page active" data-num="1">
                <a>1</a>
              </li>
              <li class="paginationjs-page J-paginationjs-page" data-num="2">
                <a href="">2</a>
              </li>
              <li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page">
                <a href="">»</a>
              </li>
            </ul>
          </div>
        </div> 
      </div>
    </div> <!-- /.properties -->
  </section>

<section class="image_section">
  <div class="work_with_us">
    <div class="work_with_us__content">
      <h2>Work With Ivan</h2>
      <p class="text_content">What Ivan most likes about selling real estate is helping others achieve homeownership, as he has a passion for helping others.
        
      </p>
      <a
        role="button"
        data-type="CONTACT_US"
        class="btn btn--secondary-dark"
      >
        Let&#x27;s Connect
      </a>
    </div>
  </div>
</section>
</main>