<!---------------- header start ------------>
<nav id="navbar">
  <div class="header">
    <div class="container">
      <div class="header_left">
        <!-- hamburger button -->
        <div id="hamburger" class="hamburger">
          <div></div>
          <a href="" class="link">Menu</a>
        </div>
        <div class="nav nav_hide">
          <ul>
            <li class="nav_item">
              <a class="link" href="#">Featured Properties</a>
            </li>
            <li class="nav_item">
              <a class="link" href="#">Home Valuation</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.header_left -->
  
      <div class="header_logo">
        <a href="">
          <img src="img/logo/logo.png" alt="Brnad logo">
        </a>
      </div><!-- /.header logo -->
  
      <div class="header_right">
          <ul>
                <li class="nav_item nav_hide">
                  <a href="#" class="link">Let's Connect</a>
                </li>
                <li class="nav_item tel_item">
                  <a href="tel:(925) 999-5599" class="link tel">(925) 999-5599</a>
                </li>
          </ul>
      </div> <!-- /.header_right -->
    </div>
  </div>
</nav>

<!-- Side menu -->
<div id="sidemenu">
            
  <div class="container sidemenu_close_wrap">
    <button class="sidemenu_close_btn toggle"><span></span></button>
  </div>
    
  <div class="container sidemenu_main ">
   
      <ul class="sidemenu_nav">
        <li class="sidemenu_nav_item">
          <a  href="/" class="link">Home</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/about" class="link">About</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/properties/sale" class="link">Featured Properties</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/properties/sold" class="link">Past Transactions</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/home-valuation" class="link">Home Valuation</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/compass-concierge" class="link">Compass Concierge</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/compass-private-exclusives" class="link">Compass Private Exclusives</a>
        </li>
        <li class="sidemenu_nav_item">
          <a  href="/testimonials" class="link">Testimonials</a>
        </li>
        <li class="sidemenu_nav_item">
          <a data-type="CONTACT_US" class="link">Let's Connect</a>
        </li>
      </ul>
 
  </div>
</div>
<!-- mobile contact -->
<div  id="global-mobile-contact" class="mobile-contact-wrapper">
  <div class="mobile-contact dark">
    <div class="buttons-holder">
        <a class="item" href="mailto:realty@ivanestates.com">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
              <path fill-rule="evenodd" d="M1.273 18l7.734-7.735c.395.352.838.647 1.32.87.592.275 1.233.44 1.885.488.779.055 1.567-.059 2.297-.334.62-.235 1.189-.584 1.684-1.023L23.927 18H1.273zm6.454-9L0 16.727V1.273L7.727 9zM25.2 1.3v15.427l-7.71-7.71c2.603-2.54 5.154-5.13 7.71-7.717zM23.927 0l-8.78 8.78c-.343.339-.744.61-1.192.792-.903.367-1.942.349-2.831-.05-.37-.167-.707-.398-1.003-.675l-.403-.389c-.01-.014-.021-.029-.034-.042-.049-.058-.104-.109-.166-.152-2.8-2.714-5.54-5.49-8.28-8.264h22.69z" clip-rule="evenodd"/>
            </svg>
        </a>
        <a class="item" href="tel:(925) 999-5599">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 25 25">
              <path d="M24.1 18.172l-5.109-2.635c-.71-.369-1.606-.185-2.106.448l-1.87 2.397c-1.817-.974-3.213-1.923-4.82-3.53-1.71-1.713-2.633-3.136-3.58-4.9l2.37-1.845c.631-.5.842-1.397.447-2.108L6.8.914C6.325.018 5.192-.272 4.376.28l-3.24 2.16C.374 2.944-.047 3.813.005 4.709.057 5.63.19 6.789.4 7.606c.948 3.636 3.213 7.404 6.4 10.592 3.186 3.188 6.952 5.454 10.586 6.403.816.21 1.975.316 2.923.395.922.053 1.79-.395 2.291-1.16l2.107-3.293c.58-.817.263-1.923-.606-2.371z"/>
            </svg>
        </a>
      </div>   
  </div>
</div>
<!---------------- header end ------------>