<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- site identity -->
  <title>Sample title</title>
  <link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/ico" />

  <!-- CSS library -->
  <link rel="stylesheet" type="text/css" href="vendor/swiper/swiper-bundle.min.css" />

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- Menu (overlay) -->
  <div id="overlay_menu" class="overlay-menu"></div>

  <!-- Subscription -->
  <div id="main_subscription" class="main_subscription"></div>