<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Past Transactions | Ivan Santacruz | Danville Real Estate Agent">
  <meta name="description" content="Browse for Compass Group luxury real estate recently sold listings. Are you interested in starting your selling journey? Contact Ivan Santacruz today!">
  <meta property="og:description" content="Browse for Compass Group luxury real estate recently sold listings. Are you interested in starting your selling journey? Contact Ivan Santacruz today!">
  <meta property="og:image" content="img\og\og.jfif">

  <!-- site identity -->
  <title>Past Transactions | Ivan Santacruz | Danville Real Estate Agent</title>
  <link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/ico" />

  <!-- CSS library -->

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- preloader -->
  <div id="preloader" class="preloader">
    <img class="preloader_img" src="img/preloader/preloader.png" alt="preloader">
  </div>
   
  <div class="temp"></div>