*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'CompassSans',serif, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  overflow-y: visible;
  overflow-x: hidden;
}
body.locked{
  overflow-y: hidden;
}
h1,h2,h3,h4,h5,h6,button{
  font-family:'CompassSerif', serif;
}
// customized header font size
h1{font-size:60px;}
h2{
  font-size:30px;
  line-height: 1.23;
  margin-bottom: 1.6rem;
}
h3{
  font-size:30px;
  margin-bottom: 1.6rem;
  line-height: 1.3;
}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:17px;}

h1, h2, h3, h4 , .serif, blockquote{
  font-weight: 400;
  font-family: 'CompassSerif', serif, "Times New Roman", Times, serif;
}
h6 {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0; 
  padding-left: 0; 
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

.container{
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
.basic_paddings {
  padding-top: 80px;
  padding-bottom: 80px;
}

ul li{
  list-style: none;
}
// <a>

a, .link{
  text-decoration: none;
  color: #303339;
}
img {
  border: 0;
  vertical-align: middle;
  page-break-inside: avoid;
  max-width: 100%;
}
section{
  overflow:hidden;
  display: block;
}
form{
  margin-bottom: 1.777em;
}

.socials{
  display: flex;
  margin: 0;
  padding: 0;
}

.socials .socials_link{
  margin: 0 10px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: solid 1px #eeeeee;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  font-size: 15px;
  transition: all 0.2s;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.socials .socials_link svg, i {
  max-width: 100%;
  transition: all 0.2s;
  fill: currentColor;
}
.socials .socials_link:hover {
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}

.btn {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  border: 1px solid;
  background: transparent;
  text-transform: capitalize;
  line-height: 1;
  font-size: 16px;
  letter-spacing: inherit;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s, color 0.4s;
  cursor: pointer;
}
.btn--primary-dark {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.btn--primary-dark:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
.btn--secondary-dark {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
.btn--secondary-dark:hover {
  color: #000;
  background: #fff;
}
.form_group{
  display: flex;
  flex-wrap: nowrap;
}
.label_group {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
  border: solid 1px #a7a7a7;
  color: #a7a7a7;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}
.label_group > label {
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
  overflow: hidden;
  // white-space: nowrap;
  transition: all 0.25s;
}
.label_group > input, .label_group > textarea{
  flex-grow: 1;
  height: 48px;
  width: inherit;
  margin: 0;
  padding: 15px 5px;
  border: none;
  background: transparent;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  vertical-align: middle;
}
.label_group > input::placeholder, .label_group > textarea::placeholder{
  color: transparent;
}
.form_group .label_group.is-active {
  border-color: #303339;
}
.form_group .label_group.is-active > label {
  font-size: 10px;
}
.form_group .label_group.is-active > input, .form_group .label_group.is-active > textarea {
  outline: none;
}
.properties .properties_grid a{
  color: #000;
}
li *:last-child {
  margin-bottom: 0;
}

// ------ intro bannar -----------------
.custom_intro {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.custom_intro > div:first-child {
  position: relative;
}
.custom_intro .custom_intro_wrapper {
  margin: 0 auto;
  padding: 0 36px;
  // max-width: 1000px;
  min-height: 680px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
  top: 0.5px;
}
.custom_intro_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1));
}
.custom_intro h1{
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  font-weight: normal;
  line-height: 1.1;
  z-index: 2;
}
.custom_intro_subtitle{
  z-index: 2;
  margin-bottom: 36px;
  position: relative;
  top: 1.5px;
}
.custom_intro .custom_intro_scrolldown {
  position: relative;
  top: 1.5px;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
// -------------------------
.spiral_bg{
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/dbbtbldpp3wzmsu3s5no/gvivosflzblodixlu5w2');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// ------------------ play video content ------------------------
.f-video .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// video + text
.f-video .container.reverse {
  flex-direction: row-reverse;
}
.f-video__content {
  width: calc(40% - 50px);
}
.f-video__poster {
  width: 60%;
}
.f-video__title {
  margin: 0 0 18px;
}
.f-video__content p {
  max-width: 376px;
  margin: 0 0 36px;
}
.f-video__poster-bgr {
  padding: 27% 0;
  background-size: cover;
  background-position: center;
  position: relative;
}
.content_row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.content_cell {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
}
.btn-play {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer;
}
.f-video .btn-play {
  margin: auto;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.btn-play > i, .btn-play > svg {
  position: relative;
  left: 2px;
}
.btn-play:focus, .btn-play:hover {
  background-color: #000;
  color: #fff;
}
// ----------------------------------------------------------------
ol {
  margin-left: 1.6rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  list-style-position: outside;
  list-style-image: none;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.666rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px;
}

.vertical_paddings {
  padding-top: 96px;
  padding-bottom: 96px;
}