/*------- responsive CSS -------*/
@media(min-width: 1681px) {
  .container {
    max-width: 1480px;
    padding: 0;
  }
  #sidemenu .sidemenu_main {
    padding: 0;
  }
  #sidemenu ul.sidemenu_nav{
    padding-left: 0;
  }
}

@media (max-width: 1680px) {
  .container {
    padding: 0 48px;
  }
}
@media (max-width: 1440px) {
  .property_details .agent{
    margin-bottom: 20px;
  }
}
@media (max-width: 1300px) {
  .properties {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .property-map{
    padding-top: 48px;
  }
}
@media (max-width: 1200px){
  #navbar .header .nav_hide{
    display:none;
  }
  .col3 .properties_grid_img {
    margin-bottom: 20px;
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .col3 .properties_grid_item_wrap{
    width: 50%;
  }
  .features_amenities__list strong {
    font-size: 15px;
}
}

@media (max-width: 1023px) {
  .work_with_us__content{
    max-width: 100%;
    // width: 100%;
  }
}

@media(max-width: 992px) {
  .properties_grid .properties_grid_img {
    margin-bottom: 20px;
    height: 350px;
  }
  .properties_grid .properties_grid_item_wrap{
    margin-bottom: 85px;
  }
  .properties_grid .properties_grid_header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .properties_grid .properties_grid_header h3 {
    max-width: 100%;
    margin-bottom: 5px;
    line-height: 1.33;
    font-size: 24px;
  }
  .properties_grid_header .properties_grid_price {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .properties_grid .properties_grid_address {
    max-width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .properties_grid .properties_grid_details {
    margin-bottom: 12px;
    line-height: 1.64;
    font-size: 14px;
  }
  .properties_grid .properties_grid_footer .link {
    font-size: 14px;
    margin-right: 15px;
  }
  .property_details .agent{
    margin-bottom: 0;
  }
  .features_amenities__list li {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .compass_content__row{
    display: flex;
    flex-direction: column;
  }
  .compass_content__col.text {
    padding: 0;
    margin-top: 29px;
    margin-bottom: 0;
  }
  .compass_content__row.straight{
    flex-direction: column;
  }
  #section-49ed873c-337f-4c0d-b905-3b838bfaa35f .hoverable-image__text-col {
    padding-left: 0;
    margin-top: 29px;
    margin-bottom: 0;
  }
}

@media(max-width: 991px) {
  .property .big_img .scroll {
    display: none;
  }
}

@media(max-width: 960px) {
  #sidemenu .sidemenu_main{
    padding-right: 40px;
  }
  #sidemenu ul.sidemenu_nav{
    padding-left: 32px;
  }
  .property_details .col {
    max-width: none;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .property_details .info {
    font-size: 15px;
  }
  .property_details .title {
    margin-bottom: 9px;
  }
  .property_details {
    padding-top: 55px;
    padding-bottom: 55px;
}
}

@media(max-width: 900px) {
  .properties_grid .properties_grid_item_wrap{
    width: 100%;
  }
  .footer .footer_details {
    grid-template-columns: 1fr max-content;
  }
  .footer .footer_description{
    margin-top: -27px;
  }
}

@media (min-width: 961px) {
  .mobile-contacts {
    display: none;
  }
  .property_details .row::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: radial-gradient(black 8%, transparent 9%);
    background-size: 43px 44px;
    background-position: center;
    background-repeat: repeat;
    width: 96px;
    height: 96px;
    z-index: 1;
    transform: translate(0, -50%);
  }
  .features_amenities__grid::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(black 8%, transparent 9%);
    background-size: 43px 44px;
    background-position: center;
    background-repeat: repeat;
    width: 96px;
    height: 96px;
    z-index: 1;
    transform: translate(5%,-12%);
  }
}

@media (max-width: 960px){
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .properties {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  #sidemenu .sidemenu_nav .link{
    font-size: 20px;
  }
  .property .big_img img{
    height: 600px;
  }
  .features_amenities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width:768px){
  .header_logo img{
    max-width:150px;
  }
  .work_with_us__content{
    padding: 48px 32px;
  }
  .footer .footer_bar{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer_bar .socials .socials_link{
    margin: 25px 32px 15px 0;
  }
  .footer .footer_bar .socials li{
    padding-right: 10px;
  }
  .footer .footer_bar .socials {
    flex-wrap: wrap;
  }
  .property_details .feature {
    max-width: 50%;
    flex-basis: 50%;
  }
  .property-map__wrap {
    padding-bottom: 80%;
  }
  .property-map{
    padding-top: 60px;
  }
}

@media screen and (max-width:767px){
  .custom_intro .custom_intro_scrolldown {
    width: 34px;
    height: 34px;
  }
  .work_with_us h2, .work_with_us .text_content {
    margin: 0 auto 24px;
  }
  .footer .footer_details {
    grid-template-columns: 1fr;
  }
  .footer .footer_details .title{
    margin-top: 12px;
  }
  .footer_details .company p{
    margin-bottom: 0;
  }
  .footer .footer_description{
    margin-top: 0;
  }
  #sidemenu .sidemenu_main{
    padding-left: 40px;
  }
  .features_amenities__item {
    width: 100%;
    margin-bottom: 0;
    border-bottom: none;
  }
  .features_amenities__item:last-child {
    border-bottom: solid 1px #eeeeee;
  }
  .features_amenities__list li {
    flex-direction: row;
    margin-bottom: 0;
  }
}

@media (max-width: 650px){
  .properties_grid .properties_grid_img {
    height: 225px;
  }
  .properties_grid .properties_grid_item{
    width: 100%;
  }

  .property_details .request_info .btn {
    margin: 30px 0 10px 0;
    display: block;
  }
  .property_details .agents_wrap{
    margin-bottom: 46px;
  }
  .property_details .agent .agent_name{
    font-size: 15px;
  }
  .property_details .share >span {
    font-size: 15px;
  }
  .property_details .feature {
    max-width: 100%;
    flex-basis: 100%;
  }
  .property_details .feature_value {
    font-size: 20px;
    line-height: 1.5;
  }
  .property_details .feature_title {
    font-size: 15px;
    line-height: 1.53;
  }
}

@media (max-height: 650px){
  .property .big_img .scroll {
    display: none;
  }
}

@media (max-width: 580px){
  .header .tel_item .tel{
    display:none;
  }
}
@media screen and (min-width: 576px) {
  .btn {
    width: auto;
    padding: 16px 29px;
  }
}
@media (max-width: 560px) {
  body {
    font-size: 14px;
    line-height: 1.64;
  }
  h1, .custom_intro h1 {
    font-size: 30px;
    line-height: 1.4;
  }
  h2 {
    font-size: 24px;
    line-height: 1.3;
  }
  .custom_intro .custom_intro_wrapper {
    padding:0 24px;
    height:100vh;
    min-height:inherit;
  }
  .custom_intro_subtitle{
    top: -1px;
  }
  .custom_intro .custom_intro_scrolldown {
    top: -1px;
  }
  .property .big_img img{
    height: 340px;
  }
}

@media (max-width: 575.8px){
  .footer .form_group .label_group > label {
    display: none;
  }
  .label_group > input::placeholder{
    color: #a9a9a9;
  }
}
@media(max-width: 560px){
  .features_amenities__list li {
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .features_amenities h2 {
    text-align: center;
  }
  .features_amenities__title {
    font-size: 20px;
  }
  .features_amenities__item {
    padding: 29px 38px 29px 34px;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 24px;
  }
  .work_with_us__content{
    padding: 0 24px;
  }
  #sidemenu ul.sidemenu_nav{
    padding-left: 24px;
  }
  #sidemenu .sidemenu_main{
    padding-right: 32px;
  }
}

@media (max-width: 500px) {
  body>div.mobile-contact-wrapper .mobile-contact {
    display: block;
  }
  .features_amenities {
    padding-top: 48px;
    padding-bottom: 48px;
}
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .col3 .properties_grid_header h3{
    font-size: 25px;
  }
  .col3 .properties_grid_header .properties_grid_price{
    font-size: 18px;
  }
}
